**

!services/
services/*
!services/game-server/
!services/game-server/**
!services/player-data/
!services/player-data/**
!services/diagnostic-aggregator/
!services/diagnostic-aggregator/**

!shared/
shared/*
!shared/go/
!shared/go/**
!shared/collisions/
shared/collisions/*
!shared/collisions/collision_shapes.json

**/.git/
**/logs/
**/tmp/
**/tests/
**/*_test.go
**/*.sqlite*
