.env
secrets/
keys/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

client/.import/
client/.godot/
client/.export/

tmp/
*/tmp/
temp/
*/temp/
.cache/

SourceAssets/
