RAILS_ENV=development
SPACE_ROCKS_API_DATABASE_USERNAME=space_rocks_api
SPACE_ROCKS_API_DATABASE_PASSWORD=local_password
SPACE_ROCKS_API_DATABASE_HOST=localhost
SPACE_ROCKS_API_DATABASE_PORT=5432
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback
