---
import HomepageClientMount from '../components/HomepageClientMount';
import { frontmatter as homepageContent } from "../content/devlog/0001-building-the-space-rocks-devlog.md";
import '../components/plasmic/plasmic__default_style.css';
import '../components/plasmic/space_rocks_devlog/plasmic.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Space Rocks Devlog</title>
		<style is:global>
			html,
			body {
				margin: 0;
				padding: 0;
			}

			body {
				background: #05070d;
			}
		</style>
	</head>
	<body>
		<HomepageClientMount content={homepageContent} client:only="react" />
	</body>
</html>
